<div class="col-10 offset-1 about">
<h1>About Splurty</h1>

<p>
    Splurty was built by <a target="_blank" href="http://github.com/AnnessaBW">Annessa</a>. A web developer who is on a mission to give people the technical tools needed to bring their ideas into reality.
</p>
  <br />
  <p>
Just a girl and her code, working hard to expand the reputation of women in technology, everywhere.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

<div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'nes.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Annessa Bock-Willmes</h2>
      <br />
      <p>
        Annessa Bock-Willmes is a web developer, mother and artist. To learn more <a target="_blank" href="http://annessabw.netlify.com/">click here</a>.
      </p>
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />